.card {
  border-radius: 12px;
  overflow: hidden;
}

.form-label {
  font-size: 0.9rem;
  color: #444;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}

/* Estilos para el select cuando es inválido */
.form-select.ng-touched.ng-invalid, 
.form-control.ng-touched.ng-invalid {
  border-color: #dc3545;
}